.services {
    padding: 100px 0;
    text-align: center;
    background-color: #f5eee6;
    width: 100vw;
    height: 100vh;
 }

 .services h2 {
    color: #3c2915;
    font-weight: 400;
    font-size: 50px;
    margin-bottom: 10px;
 }

 .boxes {
    display:flex;
    justify-content: space-between;
    margin-top: 50px;
 }

 .box {
    border: 3px solid #917758;
    padding: 50px 40px;
    margin: 30px;
 }

 .box h4{
    color: #3c2915;
    margin-top: 30px;
 }

.box p{
    margin-top: 20px;
    font-size: 14px;
    line-height: 20px;
    color: #917758;
 }